<footer class="bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <div>
            <p class="text-center">&copy; <span id="copyrightYear"></span> {{siteName}}. All rights reserved.</p>
        </div>
    </div>
</footer>
